@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");

:root {
  --default-margin: 1rem;
  --default-padding: 1rem;
  --default-border-radius: 6px;
  --font-fancy: "Charm", cursive;
}
body {
  overflow-y: scroll;
  .jumbotron {
    border-radius: 0;

    .lead.container {
      padding: var(--default-padding);
    }
  }

  h1 {
    margin: 50px auto;
    font-family: var(--font-fancy);
  }

  #accordion {
    h3,
    div {
      white-space: nowrap;
    }
  }
  .container {
    #search {
      margin-right: var(--default-margin);
    }
    ul li a.destination {
      display: block;
      margin-top: 1px;
    }
    display: flex;
    form {
      font-size: 100%;
    }
    #current {
      width: 100%;
      font-size: 100%;
      border-radius: var(--default-border-radius);
      color: #fff;
      padding: var(--default-padding);
      display: none;
      flex-direction: column;
      #display {
        display: flex;
        justify-content: space-between;

        .left,
        .right {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
      }
      .temp,
      .destination {
        font-family: var(--font-fancy);
        font-size: 300%;
      }

      .uvi {
        span {
          border-radius: var(--default-border-radius);

          &.good {
            background-color: green;
          }
          &.moderate {
            background-color: yellow;
            color: rgb(70, 70, 70);
          }
          &.warning {
            background-color: rgb(255, 166, 1);
          }
          &.danger {
            background-color: red;
          }
        }
      }
    }

    #forecast {
      display: none;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
      transition-property: all;
      margin-bottom: var(--default-margin);
      div {
        border-radius: var(--default-border-radius);
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid lightgrey;
        margin-top: var(--default-margin);
        min-width: 15%;
        min-height: 200px;
        span {
          padding: 0 var(--default-padding);
          &.date,
          &.hi,
          &.lo {
            font-family: var(--font-fancy);
          }
          &.hi {
            margin-top: 8px;
            font-size: 150%;
          }
          &.lo {
            font-size: 100%;
          }
          &.humidity,
          &.windSpeed {
            font-size: 80%;
          }
          &:first-child {
            font-weight: 700;
            padding: 0;
            width: 100%;
            text-align: center;
            color: #fff;
            border-top-left-radius: var(--default-border-radius);
            border-top-right-radius: var(--default-border-radius);
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  #forecast {
    justify-content: space-evenly;
    div {
      min-height: 290px;
      width: 48%;
    }
  }
}

@media screen and (max-width: 975px) {
  body {
    h1 {
      margin: var(--default-margin);
    }
    .jumbotron .lead.container {
      font-size: 100%;
    }
    #forecast {
      div {
        width: 100%;
      }
    }
    .container {
      flex-direction: column;
      > div {
        width: 100%;
      }
    }
  }
}
