@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
:root {
  --default-margin: 1rem;
  --default-padding: 1rem;
  --default-border-radius: 6px;
  --font-fancy: "Charm", cursive;
}

h1 {
  font-family: var(--font-fancy);
}

#accordion h3,
#accordion div {
  white-space: nowrap;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container #search {
  margin-right: var(--default-margin);
}

.container ul li a.destination {
  display: block;
  margin-top: 1px;
}

.container form {
  font-size: 100%;
}

.container #current {
  width: 100%;
  border-radius: var(--default-border-radius);
  color: #fff;
  padding: var(--default-padding);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container #current #display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #current #display .left,
.container #current #display .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #current .temp,
.container #current .destination {
  font-family: var(--font-fancy);
  font-size: 300%;
}

.container #current .uvi span {
  border-radius: var(--default-border-radius);
}

.container #current .uvi span.good {
  background-color: green;
}

.container #current .uvi span.moderate {
  background-color: yellow;
  color: #464646;
}

.container #current .uvi span.warning {
  background-color: #ffa601;
}

.container #current .uvi span.danger {
  background-color: red;
}

.container #forecast {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container #forecast div {
  border-radius: var(--default-border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgrey;
  margin-top: var(--default-margin);
  min-width: 18%;
  min-height: 200px;
}

.container #forecast div span {
  padding: 0 var(--default-padding);
}

.container #forecast div span.date, .container #forecast div span.hi, .container #forecast div span.lo {
  font-family: var(--font-fancy);
}

.container #forecast div span.hi {
  margin-top: 8px;
  font-size: 150%;
}

.container #forecast div span.lo {
  font-size: 100%;
}

.container #forecast div span.humidity, .container #forecast div span.windSpeed {
  font-size: 80%;
}

.container #forecast div span:first-child {
  font-weight: 700;
  padding: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  border-top-left-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
}

.container #forecast div:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  #forecast {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #forecast div {
    min-height: 290px;
    width: 48%;
  }
}

@media screen and (max-width: 975px) {
  #forecast div {
    width: 100%;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container > div {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */